.popup-header {
    color: var(--text-icon);
    padding: 6px 10px 2px;
    justify-content: space-between;
    gap: 10px;
}
.popup-header__brand {
    display: flex;
    align-items: center;
}
.popup-header__icons {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 6px;
}
.popup-header__icons .iconfont {
    font-size: 20px !important;
    color: var(--text-icon);
}
