.language-select {
    position: relative;
    text-align: start;
    cursor: pointer;
    user-select: none;
    outline: 0;
    white-space: pre;
    padding: 4px 6px;
    width: 150px;
    display: inline-block;
    border-radius: 8px;
}
.language-select__badge {
    display: flex;
    align-items: center;
}
.language-select__badge-text {
    flex: 1;
    overflow: hidden;
}
.language-select__search {
    display: flex;
    margin: 6px 4px;
    align-items: center;
    padding: 6px 8px;
    border-radius: 8px;
    background: var(--bg-total);
}
.language-select__search-input {
    flex: 1;
}
.language-select__search-input>input {
    outline: 0;
    border: 0;
    width: 100%;
}
.language-select__option, .language-select__no-result {
    padding: 7px 10px;
    line-height: 1.2;
    border-radius: 6px;
}
.language-select__option:hover {
    background: var(--bg-item-hover);
}