.panel-icon-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: relative;
    padding: 3px;
    cursor: pointer;
    --ripple-max-opa: 0.16
}
.panel-icon-btn.panel-icon-btn--collect-available {
    color: rgb(25, 118, 210);
}
.panel-icon-btn.panel-icon-btn--collect-available .iconfont {
    opacity: 1;
}
.panel-icon-btn.panel-icon-btn--active {
    background: rgba(25, 118, 210, 0.14);
    color: rgb(25, 118, 210);
    border-radius: 6px;
}
.panel-icon-btn:not(.panel-icon-btn--disabled):hover .ripple::before {
    opacity: 0.08;
}
.panel-icon-btn.panel-icon-btn--activation .ripple::after {
    animation: mdc-ripple-fg-radius-in 225ms forwards, mdc-ripple-fg-opacity-in 75ms forwards;
}
.panel-icon-btn.panel-icon-btn--deactivation .ripple::after {
    animation: mdc-ripple-fg-opacity-out 150ms;
    transform: scale(1.8);
}
.panel-icon-btn.panel-icon-btn--disabled {
    cursor: default;
    opacity: 0.35;
    filter: grayscale(1);
}
.panel-icon-btn .iconfont {
    pointer-events: none;
    opacity: 0.8;
}
.panel-icon-btn.panel-icon-btn--disabled .iconfont, .panel-icon-btn.panel-icon-btn--icon-grey .iconfont {
    opacity: 0.4;
}
.panel-icon-btn.panel-icon-btn--active .iconfont {
    opacity: 1;
}
.panel-icon-btn.panel-icon-btn--with-text {
    flex-direction: column;
    padding: 6px 12px;
    background-color: #f0f1f5;
    border-radius: 8px;
    margin-left: 8px;
    gap: 4px;
}
.panel-icon-btn.panel-icon-btn--with-text .iconfont {
    font-size: 18px !important;
    opacity: 0.8;
}
.panel-icon-btn.panel-icon-btn--with-text .panel-icon-btn__text {
    font-size: 11px;
    line-height: 1;
    font-weight: 500;
    pointer-events: none;
    opacity: 0.8;
}
.panel-icon-btn.panel-icon-btn--with-text:hover {
    background-color: #e5e7eb;
}

